


.Cont{
    border: 1px solid white;
     height: 500px;
     width: 35%;
     margin: auto;
     margin-top: 50px;
     border: none;
       background: #f2f2f2;
     border-radius: 25px;

}
.Cont h1{
    text-align: center;
    color: #8e44ad;
     margin-bottom: 60px;
    font-size: 25px;
    
}

 .Cont input{
    width: 60%;
    height: 35px;
    margin: 10px;
    margin-top: 50px;
    margin-left: 95px;
    border-radius: 25px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 17px;
     background: #eaeaea;
    

 }     

.btn{
    width: 20%;
    height: 45px;
    margin-top: 60px;
   margin-left: 200px;
   border-radius: 25px;
   border: none;
   outline: none;
     background: linear-gradient(to right, #8e44ad, #e056fd);
      transition: 0.3s;
      color: white;
}

.Cont btn:hover{
      opacity: 0.9;
}